i{
    margin: auto;
    font-size: 100px;
}

.sm{
font-size: 70px;
}
.center-icon{
    margin: auto;
}
.btn{
    border: none;
    background-color: #53C79E;
}
h2{
    color:#00baf2;
    font-weight: bold;
}
h2 span{
    color: #53C79E;
}
.modal-body{
    margin: auto;
    background-color: #00baf2;
}
.btn{
    
    background-color:#53C79E;
    color: var(--text-color);
    text-transform: uppercase;
    width: 100%;
    padding: 12px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 10px;
  }
  .nav-item:hover{
    background-color: #53C79E;
    margin-left: 10px;
    border-radius: 10px;
    
  }
  .nav-link{
    color: black;
  }
  .nav-link:hover{
    color: black;
  }
  .active{
    background-color: #53C79E;
  }