
    <div class="containerEx ">
        <h1 class="p-4">Escolha um pacote de doação:</h1>
       <main>

     
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <i class="bi bi-basket-fill"></i>
                    <div class="card-body">
                        <h5 class="card-title">Doar 1 cesta</h5>
                        <p class="card-text mb-5">Com a doação de uma cesta, você está ajudando uma família brasileira que ficará muito grata com a sua generosidade. Escolha essa opção e prossiga com o pagamento de sua doação.</p>
                        <button (click)="abrirModal()" type="button" class="btn btn-primary">
                          Doar por pix
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card " style="width: 18rem;">
                    <div class="center-icon">
                        <i class="bi bi-basket-fill "></i>
                        <i class="bi bi-basket-fill sm"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Doar 2 Cestas</h5>
                        <p class="card-text mb-5">Com a doação de duas cestas, você pode ajudar até 2 famílias de uma só vez, o que é uma opção bem interessante para fazer a diferença no Brasil. Escolha essa opção e prossiga com o pagamento de sua doação.</p>
                        <button (click)="abrirModal()" type="button" class="btn btn-primary">
                          Doar por pix
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="center-icon">
                        <i class="bi bi-basket-fill "></i>
                        <i class="bi bi-basket-fill sm"></i>
                        <i class="bi bi-basket-fill sm"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Doar 3 cestas</h5>
                        <p class="card-text mb-5">
                          Com a doação de três cestas, você pode ajudar até 3 famílias no Brasil, lembrando que as doações podem ser cumulativas, isto é, você pode realizar várias vezes a doação de três cestas simultâneas e garantir o seu papel no combate contra a fome no Brasil.
                        </p>
                    <!-- Button trigger modal -->
                        <button (click)="abrirModal()" type="button" class="btn btn-primary">
                          Doar por pix
                        </button>
                    </div>
                </div>
            </div>
        </div>
      </main>
    </div>


