<main>
    <section class="banner">
        <div class="sliders">
            <div class="slide">
                <div class="slideArea">
                    <h1>Nossas<br> <span>Conquistas</span> </h1>
                    <a class="button" href="">entre em contato</a>
                </div>
            </div>
            <div class="slide">
                slide 2
            </div>
            <div class="slide">
                slide 3
            </div>

        </div>
    </section>

    <div class="cont-conquistas">
        <div class="row">
            <div class="col-2">
                <div class="card col-10">
                    <div class="card-body p-4">
                        <h5 class="card-title"><span>3000</span> cestas doadas</h5>
                      
                    </div>
                </div>
            </div>
            <div class="col-2 ">
                <div class="card col-10">
                    <div class="card-body p-4">
                        <h5 class="card-title"> <span> 200 </span>familias beneficiadas</h5>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card col-10">
                    <div class="card-body p-4">
                        <h5 class="card-title"><span>600</span> membros cadastrados</h5>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card col-10">
                    <div class="card-body p-4">
                        <h5 class="card-title"><span>10</span> Instituições cadastradas</h5>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <section class="default light">
            <div class="section-title">about us</div>
            <div class="section-desc">who we are?</div>
            <div class="section-body">
            </div>
        </section> -->
    <!-- <section class="default dark">
            <div class="section-title">services</div>
            <div class="section-desc">services that we provide</div>
            <div class="section-body">
                <div class="section-services">
                    <div class="section-service">
                        <img src="./assets/images/icones/medalha.png" alt="">
                        <h4>Hight quality Design</h4>
                        <p>Donec tincidunt cursus</p>
                    </div>
                    <div class="section-service">
                        <img src="./assets/images/icones/estrela.png" alt="">
                        <h4>Modern Design</h4>
                        <p>Donec tincidunt cursus</p>


                    </div> -->

</main>