i{
    margin: auto;
    font-size: 100px;
}

.sm{
font-size: 70px;
}
.center-icon{
    margin: auto;
}
.btn{
    border: none;
    background-color: #53C79E;
}
h2{
    color:#00baf2;
    font-weight: bold;
}
h2 span{
    color: #53C79E;
}
