
<main >
  <div id="main-container">
    <h1>Cadastre-se para acessar o sistema</h1>
    <form id="register-form" action="">
      <div class="full-box">
        <label for="email">E-mail</label>
        <input type="text" name="email" id="email" placeholder="Digite seu e-mail" data-min-length="2" data-email-validate>
      </div>
      <div class="half-box spacing">
          <label for="name">Nome</label>
          <input type="text" name="name" id="name" placeholder="Digite seu nome" data-required data-min-length="3" data-max-length="16">
      </div>
      <div class="half-box">
          <label for="lastname">CPF</label>
          <input type="text" name="cpf"  mask="000.000.000-00" id="cpf" placeholder="Digite seu cpf" data-required data-only-numbers data-min-length="16">
      </div>
      <div class="half-box spacing">
        <label for="lastname">Senha</label>
        <input type="password" name="password" id="password" placeholder="Digite sua senha" data-password-validate data-required>
      </div>
      <div class="half-box">
        <label for="passconfirmation">RG</label>
        <input type="text" name="passconfirmation" mask="00.000.000-0" id="passwordconfirmation" placeholder="Digite seu RG" data-equal="password">
      </div>
      <div class="half-box spacing">
        <label for="passconfirmation">Telefone</label>
        <input type="" name="passconfirmation"  mask ="(00) 0000-0000" id="passwordconfirmation" placeholder="Digite seu telefone" data-equal="password">
      </div>
      <div class="half-box dropdown">
        <label for="ongs">Instituição de Resgistro:</label>
        <select name="ongs" id="cars">
          <optgroup label="ongs">
            <option value="ajudaBR">ajuda</option>
            <option value="alimentosBR">alimentosBR</option>
            <option value="alimentosBR">alimentosBR</option>
            <option value="alimentosBR">alimentosBR</option>
          </optgroup>
        </select>
      </div>
      <div id="box-terms">
        <label for="agreement" id="agreement-label">Eu li e aceito os <a href="#">termos de uso</a></label>
        <input type="checkbox" name="agreement" id="agreement"  >
      </div>
      <div class="box-btn">
        <!-- <input id="btn-submit" type="submit" value="Registrar"> -->
          <a href="../login/index.html"   class="btn" id="register">Resgistrar</a>
          <a href="../login/index.html"  class="btn" id="back">voltar</a>
      </div>
    </form>
  </div>
</main>
  
  

