<div class="containerEx">
    <main>
        <section id="conteudo">
            <div id="texto-sobre">
                <p>Missão: Ajudar o máximo de brasileiros de vulnerabilidade social</p>
                <br>
                <p>Visão: mitigar a fome e desigualdade no Brasil</p>
                <br>
                <p>Valores: empatia com o próximo, transparência e integridade em nossos atos</p>
            </div>
        </section>
        <div class="fogueira-position">

            <div id=fogueira-img></div>
        </div>
    </main>
</div>



