
    <h2 style="padding:15px ;">Doações de Ronaldo:</h2>
  <div class="container"  >
    <table class="table" style="width:80%; margin-left: 4%;background-color: #f8f8f8; border-radius: 10px;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Doação</th>
            <th scope="col">Instituição</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>2 cestas</td>
            <td>ajuda Brasil</td>
            <td>20/12/2017</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>2 cestas</td>
            <td>ajuda Brasil</td>
            <td>10/12/2020</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>2 cestas</td>
            <td>ajuda Brasil</td>
            <td>12/02/2019</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>2 cestas</td>
            <td>ajuda Brasil</td>
            <td>19/08/2018</td>
          </tr>
        </tbody>
      </table>
    </div>
   
