
<div class="containerEx ">
  <h1 style="padding:50px;text-align: center;">Doações de {{ doador }}:</h1>
  <div>
    <div class="d-flex justify-content-center">
      <table class="table table-striped table-dark mt-4" style="width:80%; background-color: #f8f8f8; border-radius: 10px;">
        <thead>
          <tr class="table-success">
            <th scope="col">Id</th>
            <th scope="col">Data de Criação</th>
            <th scope="col">Qtd Cestas</th>
            <th scope="col">Valor da Doação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doacao of doacoes">
            <td>{{ doacao.id }}</td>
            <td>{{ doacao.created_at }}</td>
            <td>{{ doacao.foodBasketQty }}</td>
            <td>R$ {{ doacao.value }}</td>
         </tr>
        </tbody>
      </table>
    </div>
<div class="row">
<h1 style="padding:50px; text-align: center; margin-right: 300px;">Progresso de suas doações:</h1>
</div>
  </div>   
    <div class="row">
      <div class="col-4">
        <div align="center">
          <circle-progress [percent]="15"  [space]="-10" [radius]="100" [outerStrokeWidth]="10"
            [innerStrokeWidth]="10" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
            [animationDuration]="1000"></circle-progress>
        </div>    
      </div>
      <div class="col-4">
        <div align="center">
          <circle-progress [percent]="15" [space]="-10" [radius]="100" [outerStrokeWidth]="10"
            [innerStrokeWidth]="10" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
            [animationDuration]="1000"></circle-progress>
        </div>    
      </div>
      <div class="col-4">
        <div align="center">
          <circle-progress [percent]="15"  [space]="-10" [radius]="100" [outerStrokeWidth]="10"
            [innerStrokeWidth]="10" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
            [animationDuration]="1000"></circle-progress>
        </div>    
      </div>
    </div>
</div>
